<div class="webkite-result-modal">
  <div class="webkite-modal-content">
    <div class="webkite-modal-block-forty">
      {{#facet name="Image"}}  
        <div class="webkite-modal-img"><img src="{{displayValue}}"/></div>
      {{/facet}}
      {{#any (find facets name="First Name") (find facets name="Last Name")~}}
        <h2>{{#facet name="First Name"}}{{displayValue}} {{/facet}}{{#facet name="Last Name"}}{{displayValue}}{{/facet}}</h2>
      {{~/any}}
      <ul>
        {{#any (find facets name="Address 1") (find facets name="City") (find facets name="State") (find facets name="Zip Code") (find facets name="Country") (find facets name="Address 2")}}
          <li>
            <b>address</b>
            <span class="facet-values">
              <a target="_blank" class="webkite-address" href="http://maps.google.com/?q={{#facet name='Address 1'}}{{displayValue}}{{/facet}} {{#facet name='City'}}{{displayValue}}{{/facet}} {{#facet name='State'}}{{displayValue}}{{/facet}} {{#facet name='Zip Code'}}{{displayValue}}{{/facet}} {{#facet name='Country'}}{{displayValue}}{{/facet}}">
                {{#facet name="Address 1"}}<span>{{displayValue}}</span>{{/facet}}
                {{#facet name="Address 2"}}<span>{{displayValue}}</span>{{/facet}}
                <span>
                  {{~#facet name="City"}}<span class="city">{{displayValue}}</span>{{/facet}}
                  {{~#facet name="State"}}<span class="state">{{displayValue}}</span>{{/facet}}
                  {{#facet name="Zip Code"}}{{displayValue}}{{/facet~}}
                </span>
                {{~#facet name="Country"}}<span>{{displayValue}}</span>{{/facet}}
              </a>
            </span>
          </li>
        {{/any}}
        {{#facet name="Email"}}
          <li>
            <b>email</b>
            <span class="facet-values"><a href="mailto:{{displayValue}}">{{displayValue}}</a></span>
          </li>
        {{/facet}}
        {{#facet name="Phone Number"}}
          <li>
            <b>phone number</b>
            <span class="facet-values"><a href="tel:{{displayValue}}">{{displayValue}}</a></span>
          </li>
        {{/facet}}
      </ul>
    </div><!-- webkite-modal-block-forty -->
    <div class="webkite-modal-block-sixty">
      <ul>
        {{#facet name="Website"}}
          <li>
            <b>website</b>
            <span class="facet-values"><a class="webkite-website" href="{{displayValue}}">{{displayValue}}</a></span>
          </li>
        {{/facet}}
        {{#facet name="Twitter"}}
          <li>
            <b>twitter</b>
            <span class="facet-values"><a href="https://twitter.com/{{displayValue}}">{{displayValue}}</a></span>
          </li>
        {{/facet}}
        {{#facet name="University"}}
          <li>
            {{#if filterable}}
              <b class="inline-filter-button">
                <a class="webkite-toggle" data-target=".{{../../id}}-{{name}}-menu">{{downcase name}}<i></i></a>
                <ul class="{{../../id}}-{{name}}-menu inline-filter-menu webkite-hide webkite-menu">
                  {{#each filterableValues}}
                    <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
                  {{/each}}
                </ul>
              </b>
              <span class="facet-values">
                {{#each values}}<a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}{{/each}}
              </span>
            {{else}}
              <b>{{downcase name}}</b>
              <span class="facet-values">{{displayValue}}</span>
            {{/if}}
          </li>
        {{/facet}}
        {{#facet name="Degree"}}
          <li>
            {{#if filterable}}
              <b class="inline-filter-button">
                <a class="webkite-toggle" data-target=".{{../../id}}-{{name}}-menu">{{downcase name}}<i></i></a>
                <ul class="{{../../id}}-{{name}}-menu inline-filter-menu webkite-hide webkite-menu">
                  {{#each filterableValues}}
                    <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
                  {{/each}}
                </ul>
              </b>
              <span class="facet-values">
                {{#each values}}<a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}{{/each}}
              </span>
            {{else}}
              <b>{{downcase name}}</b>
              <span class="facet-values">{{displayValue}}</span>
            {{/if}}
          </li>
        {{/facet}}
        {{#facet name="Year of Graduation"}}
          <li>
            <b>year of graduation</b>
            <span class="facet-values">{{displayValue}}</span>
          </li>
        {{/facet}}
        {{#facet name="Employer"}}
          <li>
            {{#if filterable}}
              <b class="inline-filter-button">
                <a class="webkite-toggle" data-target=".{{../../id}}-{{name}}-menu">{{downcase name}}<i></i></a>
                <ul class="{{../../id}}-{{name}}-menu inline-filter-menu webkite-hide webkite-menu">
                  {{#each filterableValues}}
                    <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
                  {{/each}}
                </ul>
              </b>
              <span class="facet-values">
                {{#each values}}<a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}{{/each}}
              </span>
            {{else}}
              <b>{{downcase name}}</b>
              <span class="facet-values">{{displayValue}}</span>
            {{/if}}
          </li>
        {{/facet}}
        {{#facet name="Department"}}
          <li>
            {{#if filterable}}
              <b class="inline-filter-button">
                <a class="webkite-toggle" data-target=".{{../../id}}-{{name}}-menu">{{downcase name}}<i></i></a>
                <ul class="{{../../id}}-{{name}}-menu inline-filter-menu webkite-hide webkite-menu">
                  {{#each filterableValues}}
                    <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
                  {{/each}}
                </ul>
              </b>
              <span class="facet-values">
                {{#each values}}<a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}{{/each}}
              </span>
            {{else}}
              <b>{{downcase name}}</b>
              <span class="facet-values">{{displayValue}}</span>
            {{/if}}
          </li>
        {{/facet}}
        {{#facet name="Job Title"}}
          <li>
            <b>job title</b>
            <span class="facet-values">{{displayValue}}</span>
          </li>
        {{/facet}}
      </ul>
    </div><!-- webkite-modal-block-sixty -->
  </div><!-- webkite-modal-content -->
  <div class="webkite-modal-foot">
    <a href="#{{this.id}}" data-id={{this.id}} class="webkite-toggle-item less-button" data-animate="200ms" data-speed="100ms">less</a>
  </div>
</div><!-- webkite-result-modal -->
